{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<h1>{{ table_obj.title }}</h1>
<p>Owner: {{ table_obj.owner }}</p>

{% if table_obj.owner == request.user %}
<div>
        <a href="{% url 'add_column' table_obj.pk %}" class="btn btn-primary ms-2">
            <i class="fas fa-columns me-1"></i> Добавить столбец
        </a>
        <a href="{% url 'add_row' table_obj.pk %}" class="btn btn-success">
            Добавить строку
        </a>
        <a href="{% url 'delete_table' table_obj.pk %}" class="btn btn-danger">
            Удалить таблицу
        </a>
</div>
{% endif %}

<div class="table-responsive">
    {% render_table table %}
</div>
{% endblock %}