{% extends 'base.html' %}
{% load django_tables2 %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{% static 'css/column_tables.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/table_form.css' %}">
</head>
<h1>{{ table_obj.title }}</h1>
<p>Owner: {{ table_obj.owner }}</p>

<div class="d-flex justify-content-between">
{% if table_obj.owner == request.user or is_admin %}
    <div id="clickable-btns">
        <a href="{% url 'add_column' table_obj.pk %}" class="btn btn-primary">
            <i class="fas fa-columns me-1"></i> Добавить столбец
        </a>
        <a class="btn btn-success add-row-btn" data-table-id="{{ table_obj.pk }}">
            <i class="fa-solid fa-plus"></i> Добавить строку
        </a>
        <a href="{{ table_obj.get_shared_url }}" class="btn btn-outline-dark">
           <i class="fa-solid fa-share-nodes me-1"></i> Поделиться таблицей
        </a>
        <a href="{% url 'manage_table_permissions' table_obj.pk %}" class="btn btn-outline-warning">
            <i class="fa-solid fa-pen-to-square"></i> Редактировать права на таблицу
        </a>
        <a href="{% url 'unlock_filial_table' table_obj.pk %}" class="btn btn-outline-primary">
            Редактировать блокировку филиалов на добавление строк
        </a>
        <a href="{% url 'manage_table_admins' pk=table_obj.pk %}" class="btn btn-outline-info">
            <i class="fas fa-user-shield"></i> Управление администраторами
        </a>
        <a href="{% url 'export_table' table_obj.pk %}" class="btn btn-outline-primary">
            Экспорт таблицы
        </a>
    </div>
    <div>
        <a href="{% url 'delete_table' table_obj.pk %}" class="btn btn-danger"
           onclick="return confirm('Удалить таблицу?')">
            <i class="fas fa-ban"></i> Удалить таблицу
        </a>
    </div>
{% endif %}
</div>

<div class="table-responsive">
    {% render_table table %}
</div>
<!-- Модальное окно добавления строки -->
<div class="modal fade" id="addRowModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавление новой строки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div id="addRowModalContent">
                <!-- Форма будет загружена через AJAX -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rowEditModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование строки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div id="modalContent">
                <!-- Форма будет загружена через AJAX -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/row_edit_modal.js' %}"></script>
{% endblock %}